@font-face{font-family:iransans;src:url('../iransans/IRANSansMobile.ttf')}
.application{font-family:iransans!important}
.v-text-field.v-input--dense:not(.v-text-field--outlined) input{padding:0!important;font-size:15px!important}
.row{width:100%;margin:0!important}